<header>

    <div class="logo">
        <img src="assets/logo3_24_13405.png" class="img-fluid">
    </div>

    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon">♣</span> </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/contactpro">
            Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8888/symfony/api/public/index.php/login">Connexion</a>
                    </li>


                </ul>
                <ul class="social-network social-circle">
                    <li>
                        <a href="#" class="icoFacebook" title="Facebook"><img src="assets/twitter2.png" class="img-fluid"></a>
                    </li>
                    <li>
                        <a href="#" class="icoTwitter" title="Twitter"><img src="assets/fb.svg" class="img-fluid"></a>
                    </li>
                    <li>
                        <a href="#" class="icoInstagram" title="Instagram"><img src="assets/insta.svg.png" class="img-fluid"></a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</header>