span {
    margin-right: 50px;
}

.navbar-toggler-icon {
    color: white;
    margin-top: 20px;
}

.logo {
    width: 160px;
    height: 40px;
    margin-top: -40px;
}

header {
    position: relative;
    margin-bottom: 20px;
}

.container nav {
    background-color: black;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .container nav {
        background-color: black;
        margin-left: 120px;
    }
}

#section {
    position: relative;
}

#navbarDropdown {
    color: white;
    position: absolute;
}

@media (max-width: 767px) {
    #page nav {
        margin-bottom: 0px;
        padding-bottom: 50px;
        padding-top: 40px;
        padding-left: 0%;
    }
}

header a {
    color: grey;
    margin-top: 20px;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease-in 0s;
}

a:hover {
    background-color: white;
    color: black;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/*footer social icons */

.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
    background-color: orangered;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: black;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

ul img {
    height: 35px;
    padding-top: 22px;
}