<section id="recommandations">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h3> "Je suis très content d'être passé par votre site."</h3>
                    <h4>Mr ......</h4>
                </div>
                <div class="carousel-item">
                    <h3>"Service professionnel, personnel sympa et compétent"</h3>
                    <h4>Mme ......</h4>
                </div>
                <div class="carousel-item">
                    <h3>"RAS FACILE A NAVIGUER"</h3>
                    <h4>Mr ........</h4>
                </div>
                <div class="carousel-item">
                    <h3>"Très bon site."</h3>
                    <h4>Mr ........</h4>
                </div>
                <div class="carousel-item">
                    <h3>"tout a été parfait, très satisfaite"</h3>
                    <h4>Mme ........</h4>
                </div>
                <div class="carousel-item">
                    <h3>"site internet bien conçu, service client très bien, rien à dire"</h3>
                    <h4>Mr ........</h4>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">

                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">

                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</section>
<footer>
    <a routerLink="/mentions">Mentions légales    |</a>
    <a routerLink="/cgu">CGU    |</a>
    <a routerLink="/politiques">Politique de confidentialité</a><br>
    <small>Copyright © Centre’Auto’Ccas  -  Tous droits réservés</small>
</footer>