footer {
    text-align: center;
    padding-top: 40px;
}

footer a {
    color: gray;
}

#recommandations {
    color: gray;
    text-align: center;
    padding-top: 60px;
    opacity: 0.6;
}

small {
    color: gray;
    opacity: 0.6;
}