<section id="form" [ngStyle]="{backgroundImage:'url(assets/8.jpeg)'}">
    <div class="container">
        <h3>N’hésitez pas à nous contacter. Nous saurons vous guider vers le véhicule de votre choix.</h3>
        <div class="form-group">
            <label for="pwd">Adresse mail</label>
            <input type="email" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Votre demande</label>
            <textarea class="form-control" id="bio" rows="4"></textarea>
        </div>
        <a href="mailto:ilyasse.you@gmail.com" class="btn"> Envoyer </a>

    </div>
</section>