.card-body {
    padding: 20px;
}

.card-deck {
    padding: 20px;
}

.field {
    width: 400px;
}

.card-img-top:first-child:hover {
    opacity: 0.5;
}

.container nav {
    background-color: black;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .container nav {
        background-color: black;
        margin-left: 120px;
    }
}

.card-deck p {
    color: gray;
}

header a {
    color: grey;
    margin-top: 20px;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease-in 0s;
}

a:hover {
    background-color: white;
    color: black;
}

#section {
    position: relative;
}

#navbarDropdown {
    color: white;
    background-color: black;
    position: absolute;
}

#recommandations {
    color: gray;
    text-align: center;
    padding-top: 60px;
}

footer {
    text-align: center;
    padding-top: 40px;
}

footer a {
    color: gray;
}

#form {
    margin-bottom: -20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-size: cover;
    background-position: 80px;
}

#form .container {
    background-color: black;
    opacity: 0.5;
}

#form h3,
label {
    color: white;
}

#form button {
    color: white;
    border: 1px solid white;
    margin-bottom: 10px;
}

#form .form-group {
    padding: 0px;
}

#form a {
    background-color: white;
    color: black;
}

@media (max-width: 767px) {
    #form .form-control {
        width: 90%;
    }
}

#form .container {
    padding-right: 40px;
}

#page nav {
    margin-bottom: 0px;
    padding-bottom: 50px;
    padding-top: 40px;
    padding-left: 300px;
}

.card-deck .row .col-md-3 {
    margin: 25px;
}

@media (max-width: 767px) {
    #page nav {
        margin-bottom: 0px;
        padding-bottom: 50px;
        padding-top: 40px;
        padding-left: 0%;
    }
}