<section id="form" [ngStyle]="{backgroundImage:'url(assets/2.jpeg)'}">
    <div class="container">
        <h3>Transmettez-nous vos informations pour vous créer un compte dans les plus brefs délais</h3>
        <div class="form-group">
            <label for="pwd">Votre nom</label>
            <input type="email" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Votre prénom</label>
            <textarea class="form-control" id="bio" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="pwd">Votre email</label>
            <textarea class="form-control" id="bio" rows="1"></textarea>
        </div>
        <div class=" form-group ">
            <label for="pwd ">Votre Siren</label>
            <textarea class="form-control " id="bio " rows="1"></textarea>
        </div>
        <div class="form-group ">
            <label for="pwd ">Votre garage</label>
            <textarea class="form-control " id="bio " rows="1"></textarea>
        </div>
        <div class="form-group ">
            <label for="pwd ">Votre téléphone</label>
            <textarea class="form-control " id="bio " rows="1"></textarea>
        </div>

        <a href="mailto:ilyasse.you@gmail.com " class="btn "> Envoyer </a>

    </div>
</section>