<app-header></app-header>

<form #formFilters="ngForm" (ngSubmit)="applyFilters()">
    <section id="jumbo">
        <div class="jumbotron jumbotron-fluid" style="height: 300px;" [ngStyle]="{backgroundImage:'url(assets/pexels-photo-1402787.jpeg)'}">
            <div class="row">
                <div class="col-lg-1 col-md-2 col-sm-3">

                    <div class="form-group ">


                        <select name="fuel" class="form-group" [(ngModel)]="filters.fuel">
                            <option value="" required>Carburant</option>
                            <option  name="fuel" class="form-control"  >Gasole</option>
                            <option  name="fuel" class="form-control"  >Essence</option>
                            <option  name="fuel" class="form-control" >Hybrid</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3">
                    <div class="form-group ">

                        <select name="brand" class="" [(ngModel)]="filters.brand">
                            <option value="" selected>Marque</option>
                         <!--<option  *ngFor="let annonce of annonces" name="brand" class="form-control" [ngValue]="annonce.brand">{{annonce.brand}}</option>-->   
                         <option  name="brand" class="form-control" >Ford</option>
                         <option  name="brand" class="form-control" >Fiat</option>
                         <option  name="brand" class="form-control" >Mercedes</option>
                         <option  name="brand" class="form-control" >Opel</option>
                         <option  name="brand" class="form-control" >Land Rover</option>
                         <option  name="brand" class="form-control" >Peugeot</option>
                         <option  name="brand" class="form-control" >Renault</option>
                         <option  name="brand" class="form-control" >Citröen</option>
                         <option  name="brand" class="form-control" >Volkswagen</option>
                         <option  name="brand" class="form-control" >Lamborghini</option>
                         <option  name="brand" class="form-control" >BMW</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3">
                    <div class="form-group ">
                        <select name="model" class="" [(ngModel)]="filters.model">
                            <option value="" selected>Modèle</option>
                            <option *ngFor="let annonce of annonces" name="fuel" class="form-control" [ngValue]="annonce.model">{{annonce.model}}</option>
                         </select>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3">

                    <div class="custom-slider">
                        <select name="model" class="" [(ngModel)]="filters.km">
                        <option value="" selected>Kilomètrage</option>
                    </select>
                        <ngx-slider class="slider" [(value)]="minKm" [(highValue)]="maxKm" [options]="km"></ngx-slider>
                    </div>
                </div>

                <div class="col-lg-1 col-md-2 col-sm-3">
                    <div class="custom-slider">

                        <select name="releaseYear" class="" [(ngModel)]="filters.releaseYear">
                            <option value="" selected>Année</option>
                        </select>
                        <ngx-slider class="slider" [(value)]="minYear" [(highValue)]="maxYear" [options]="year"></ngx-slider>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3">

                    <div class="custom-slider">
                        <select name="model" class="" [(ngModel)]="filters.price">
                        <option value="" selected>Prix</option>
                        </select>
                        <ngx-slider class="slider" [(value)]="minPrice" [(highValue)]="maxPrice" [options]="price"></ngx-slider>
                        <!--<ngx-slider [(value)]="filters.releaseYear" [options]=?></ngx-slider>-->
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3">
                    <div class="btn-group">
                        <button type="submit " class="btn" aria-haspopup="true" aria-expanded="false">Search</button>
                    </div>
                </div>

            </div>
        </div>


    </section>
    <div class="card-deck">


        <div class="row">
            <div class="col-md-3 col-sm-12" *ngFor="let annonce of annonces | paginate: { itemsPerPage: 9, currentPage : page, 
                totalItems: totalLength }">
                <div class="card" style="width: 21rem;">
                    <a [routerLink]="[ '/description', annonce.id] ">
                        <img class="card-img-top" src="assets/{{annonce.picture}}" alt="card "></a>
                    <div class="card-body">
                        <p class="card-text">{{ annonce.brand}} | {{ annonce.km}} Km</p>
                        <p>{{ annonce.description}} </p>
                        <small class="text-muted">Prix : {{ annonce.price}} Euros</small><br>
                        <small class="text-muted">Carburant : {{annonce.fuel}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</form>

<app-contact></app-contact>
<app-footer></app-footer>