            .card-body {
                background-color: black;
            }
            
            .card-deck {
                padding: 20px;
            }
            
            .field {
                width: 400px;
            }
            
            .card-img-top:first-child:hover {
                opacity: 0.5;
            }
            
            .container nav {
                background-color: black;
                margin-left: 200px;
            }
            
            @media (max-width: 768px) {
                .container nav {
                    background-color: black;
                    margin-left: 120px;
                }
            }
            
            .card-deck p {
                color: gray;
            }
            
            header a {
                color: grey;
                margin-top: 20px;
                text-transform: uppercase;
                display: inline-block;
                transition: all 0.3s ease-in 0s;
            }
            
            a:hover {
                background-color: white;
                color: black;
            }
            
            #section {
                position: relative;
            }
            
            #navbarDropdown {
                color: white;
                background-color: black;
                position: absolute;
            }
            
            #recommandations {
                color: gray;
                text-align: center;
                padding-top: 60px;
            }
            
            footer {
                text-align: center;
                padding-top: 40px;
            }
            
            footer a {
                color: gray;
            }
            
            #form {
                margin-bottom: -20px;
                padding-bottom: 20px;
                padding-top: 20px;
                background-size: cover;
                background-position: 80px;
            }
            
            #form .container {
                background-color: black;
                opacity: 0.5;
            }
            
            #form h3,
            label {
                color: white;
            }
            
            #form button {
                color: white;
                border: 1px solid white;
                margin-bottom: 10px;
            }
            
            #form .form-group {
                padding: 0px;
            }
            
            @media (max-width: 767px) {
                #form .form-control {
                    width: 90%;
                }
            }
            
            #form .container {
                padding-right: 40px;
            }
            
            #page nav {
                margin-bottom: 0px;
                padding-bottom: 50px;
                padding-top: 40px;
                padding-left: 300px;
            }
            
            .card-deck .row .col-md-3 {
                margin: 25px;
            }
            
            @media (max-width: 767px) {
                #page nav {
                    margin-bottom: 0px;
                    padding-bottom: 50px;
                    padding-top: 40px;
                    padding-left: 0%;
                }
            }
            
            pagination-controls {
                text-align: center;
                color: gray;
            }
            
            #jumbo {
                padding-bottom: 20px;
                padding-left: -40px;
            }
            
            .jumbotron {
                background-size: cover;
                background-position: -20%;
            }
            
            .jumbotron a {
                color: black;
            }
            
            #jumbo .row {
                margin-right: 0px;
                margin-left: 120px;
            }
            
            @media (max-width: 767px) {
                #jumbo .row {
                    margin-right: 0px;
                    padding-right: 120px;
                }
            }
            
            #jumbo button {
                color: gray;
            }
            
            #jumbo .btn-group {
                margin-left: 10px;
                margin-top: -9px;
            }
            
            @media (max-width: 767px) {
                .jumbotron .row {
                    padding-bottom: 10px;
                }
            }
            
            #jumbo .btn-group {
                border: 1px solid white;
                border-radius: 10px;
                display: block;
                width: 110px;
            }
            
            @media (max-width: 767px) {
                #jumbo .btn-group {
                    margin-bottom: 4px;
                    margin-right: 0px;
                }
            }
            
            @media (min-width: 768px) {
                .jumbotron {
                    height: 1000px;
                }
            }
            
            select,
            option {
                color: gray;
                opacity: 0, 5;
                width: 110px;
                background: rgba(0, 0, 0, 0.3);
            }
            
             ::ng-deep {
                .custom-slider .ngx-slider .ngx-slider-bar {
                    background: gray;
                    opacity: 0.3;
                    height: 5px;
                }
                .custom-slider .ngx-slider .ngx-slider-selection {
                    background: gray;
                    opacity: 0.3;
                }
                .custom-slider .ngx-slider .ngx-slider-pointer {
                    width: 10px;
                    height: 15px;
                    top: auto;
                    /* to remove the default positioning */
                    bottom: 0;
                    background-color: gray;
                    opacity: 0.3;
                }
                .custom-slider .ngx-slider .ngx-slider-pointer:after {
                    display: none;
                }
                .custom-slider .ngx-slider .ngx-slider-bubble {
                    bottom: 14px;
                }
                .custom-slider .ngx-slider .ngx-slider-limit {
                    font-weight: bold;
                    color: red;
                }
                .custom-slider .ngx-slider .ngx-slider-tick {
                    width: 1px;
                    height: 15px;
                    margin-left: 4px;
                    border-radius: 0;
                    background: black;
                    top: -1px;
                }
                .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
                    background: rgb(0, 110, 255);
                }
            }