<app-header></app-header>
<section id="description" *ngIf="annonce">
    <div class="container">
        <div class="row">


            <div class="col-md-5">
                <img class="card-img-top" src="assets/{{annonce.picture}}" alt="card ">
            </div>
            <div class="col-md-5">
                <p>Vitres électriques</p>
                <p>AIRBAG</p>
                <p>ISOFIX</p>
                <p>Abs</p>
                <p>Climatisation</p>
                <p>Aide parking</p>
                <p>Esp</p>
                <p>Aide démarrage en côte</p>
                <p>Roue de secours</p>
            </div>

            <div id="des">
                <small class="text-muted">Prix :{{ annonce.price}} Euros</small><br>
                <small class="text-muted">Référence: {{ annonce.id}}</small><br>
                <small class="text-muted">Carbuant: {{ annonce.fuel}}</small><br>
                <h3>Marque: {{ annonce.brand}}</h3>
                <h4>Modèle: {{ annonce.model}}</h4>
                <p>{{ annonce.descriptionAll}}</p>
            </div>
        </div>
    </div>
</section>
<section id="form" [ngStyle]="{backgroundImage:'url(assets/8.jpeg)'}">
    <div class="container">
        <h3>N’hésitez pas à nous contacter. Nous saurons vous guider vers le véhicule de votre choix.</h3>
        <div class="form-group">
            <label for="pwd">Adresse mail</label>
            <input type="email" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Votre demande</label>
            <textarea class="form-control" id="bio" rows="4"></textarea>
        </div>

        <button type="submit" class="btn">Envoyer</button>
    </div>
</section>
<app-footer></app-footer>