span {
    background-color: aliceblue;
    margin-right: 50px;
}

#section {
    position: relative;
}

#description img {
    float: right;
    margin-top: 40px;
}

#description p {
    color: rgb(141, 135, 135);
    margin-top: 40px;
    display: inline-block;
    padding: 25px;
    border: 1px solid rgb(136, 127, 127);
}

#des {
    text-align: justify;
    margin-bottom: 50px;
}

#form {
    margin-bottom: -20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-size: cover;
    background-position: 80px;
}

#form .container {
    background-color: black;
    opacity: 0.5;
}

#form h3,
label {
    color: white;
}

#form button {
    color: white;
    border: 1px solid white;
    margin-bottom: 10px;
}

#form .form-group {
    padding: 0px;
}

@media (max-width: 767px) {
    #form .form-control {
        width: 90%;
    }
}

#form .container {
    padding-right: 40px;
}