<section id="jumbo">
    <div class="jumbotron jumbotron-fluid" style="height: 300px;" [ngStyle]="{backgroundImage:'url(assets/pexels-photo-1402787.jpeg)'}">
        <div class="row">
            <div class="col-md-1 col-sm-3">
                <div class="btn-group">

                    <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 Marque
</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Renault</a>
                        <a class="dropdown-item" href="#">Peugeot</a>
                        <a class="dropdown-item" href="#">Citrën</a>
                        <a class="dropdown-item" href="#">Toyota</a>
                        <a class="dropdown-item" href="#">Ford</a>
                        <a class="dropdown-item" href="#">Audi</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-3">
                <div class="btn-group">
                    <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Modèle
  </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-3">
                <div class="btn-group">
                    <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [(ngModel)]='filters.fuel'>
    Carburant
  </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="">Essence</a>
                        <a class="dropdown-item" href="">Gasole</a>
                        <a class="dropdown-item" href="#">Hybrid</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-3">
                <div class="btn-group">
                    <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Kilométrage
  </button>
                    <div class="dropdown-menu">
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="" class="slider" id="myRange">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-3">
                <div class="btn-group">
                    <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Année
  </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">2020</a>
                        <a class="dropdown-item" href="#">2019</a>
                        <a class="dropdown-item" href="#">2018</a>
                        <a class="dropdown-item" href="#">2017</a>
                        <a class="dropdown-item" href="#">2016</a>
                        <a class="dropdown-item" href="#">2015</a>
                        <a class="dropdown-item" href="#">2014</a>
                        <a class="dropdown-item" href="#">2013</a>
                        <a class="dropdown-item" href="#">2012</a>
                        <a class="dropdown-item" href="#">2011</a>
                        <a class="dropdown-item" href="#">2010</a>
                        <a class="dropdown-item" href="#">2009</a>
                        <a class="dropdown-item" href="#">2008</a>
                        <a class="dropdown-item" href="#">2007</a>
                        <a class="dropdown-item" href="#">2006</a>
                        <a class="dropdown-item" href="#">2005</a>
                        <a class="dropdown-item" href="#">2004</a>
                        <a class="dropdown-item" href="#">2003</a>
                        <a class="dropdown-item" href="#">2002</a>
                        <a class="dropdown-item" href="#">2001</a>
                        <a class="dropdown-item" href="#">2000</a>
                        <a class="dropdown-item" href="#">1999</a>
                        <a class="dropdown-item" href="#">1998</a>
                        <a class="dropdown-item" href="#">1997</a>
                        <a class="dropdown-item" href="#">1996</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-3">
                <div class="btn-group">
                    <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Prix
  </button>
                    <div class="dropdown-menu">
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="" class="slider" id="myRange">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-3">
                <div class="btn-group">
                    <button type="submit" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Recherche
    </button>
                </div>
            </div>
        </div>
    </div>
</section>