#jumbo {
    padding-bottom: 20px;
    padding-left: -40px;
}

.jumbotron {
    background-size: cover;
    background-position: -20%;
}

.jumbotron a {
    color: black;
}

#jumbo .row {
    margin-right: 0px;
    margin-left: 120px;
}

@media (max-width: 767px) {
    #jumbo .row {
        margin-right: 0px;
        padding-right: 120px;
    }
}

#jumbo button {
    color: gray;
}

#jumbo .btn-group {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .jumbotron .row {
        padding-bottom: 10px;
    }
}

#jumbo .btn-group {
    border: 1px solid white;
    border-radius: 10px;
    display: block;
    width: 110px;
}

@media (max-width: 767px) {
    #jumbo .btn-group {
        margin-bottom: 4px;
        margin-right: 0px;
    }
}

@media (min-width: 768px) {
    .jumbotron {
        height: 1000px;
    }
}