/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'josefin sans';
    box-sizing: content-box;
}

body {
    background-color: black;
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
}

.field {
    width: 400px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}